@import "tailwindcss";

:root {
  --color-primary: #12b76a;
  --color-on-primary: #ffffff;
  --color-primary-container: #d1fadf;
  --color-on-primary-container: #039855;
  --color-surface: #ffffff;
  --color-on-surface: #101828;
  --color-surface-variant: #f2f4f7;
  --color-on-surface-variant: #475467;
  --color-outline: #94a3b8;
  --color-outline-variant: #eaecf0;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-on-primary: var(--color-on-primary);
  --color-primary-container: var(--color-primary-container);
  --color-on-primary-container: var(--color-on-primary-container);
  --color-surface: var(--color-surface);
  --color-on-surface: var(--color-on-surface);
  --color-surface-variant: var(--color-surface-variant);
  --color-on-surface-variant: var(--color-on-surface-variant);
  --color-outline: var(--color-outline);
  --color-outline-variant: var(--color-outline-variant);
  --font-sans: var(--font-public-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-surface);
  color: var(--color-on-surface);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
